<div class="bg-black text-white p-10 lg:p-20 space-y-10 lg:space-y-20">
  <div class="flex flex-col lg:flex-row items-center space-y-10 lg:space-x-10">
    <div class="relative w-full lg:w-1/2">
      <img
        src="https://365bond.com/wp-content/uploads/2016/01/Black-and-white-Gibson-Les-Paul-Guitar-HD-Guitar-Music-Desktop-Wallpaper-1920x1200-Great-Guitar-Sound-www.GreatGuitarSound.Blogspot.com_.jpg"
        alt="Guitar Player"
        class="mx-auto w-full h-auto border-4 border-white rounded-md shadow-xl"
      />
    </div>
    <div class="w-full lg:w-1/2">
      <h2 class="text-3xl lg:text-4xl font-bold">Nuestra Historia</h2>
      <p class="mt-4 text-lg lg:text-xl">
        La plataforma de música independiente nació con la visión de empoderar a
        músicos de todo el mundo. Desde sus inicios, ha evolucionado para
        convertirse en un espacio dinámico donde los artistas pueden compartir,
        promover y vender su música directamente a una comunidad global de fans
        apasionados. La plataforma ha crecido integrando funciones avanzadas,
        desde la creación de perfiles de artistas hasta la venta de música y
        herramientas de interacción social, todo con el objetivo de apoyar a los
        músicos independientes en su carrera.
      </p>
    </div>
  </div>
</div>
