<header class="flex justify-between items-center py-3 px-4 w-full max-w-6xl mx-auto">
    <a href="/">
        <img
            class="w-16 h-16 md:w-20 md:h-20"
            src="/headphones_5219835.png"
            alt="headphones_5219835"
        />
    </a>

    <nav class="flex flex-col md:flex-row gap-y-2 md:gap-y-0 md:gap-x-10">
        <a href="/">Inicio</a>
        <a href="/about">Acerca de nosotros</a>
        <a href="/artist">Artistas</a>
        <a href="/services">Servicios</a>
        <a href="/contact">Contactanos</a>
    </nav>
</header>
