---
let menuOpen = false;
function toggleMenu() {
    menuOpen = !menuOpen;
}
---

<header
    class="flex justify-between items-center py-3 px-4 w-full max-w-6xl mx-auto"
>
    <a href="/">
        <img
            class="w-16 h-16 md:w-20 md:h-20"
            src="/headphones_5219835.png"
            alt="headphones_5219835"
        />
    </a>

    <button class="md:hidden" @click="toggleMenu">
        <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>
    </button>

    <nav
        class={`flex ${menuOpen ? "flex-col" : "hidden"} md:flex md:flex-row gap-y-2 md:gap-y-0 md:gap-x-10`}
    >
        <a href="/">Inicio</a>
        <a href="/about">Acerca de nosotros</a>
        <a href="/artist">Artistas</a>
        <a href="/services">Servicios</a>
        <a href="/contact">Contactanos</a>
    </nav>
</header>

<style>
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    @media (max-width: 768px) {
        nav {
            display: none;
        }
        nav.flex {
            display: flex;
            flex-direction: column;
        }
    }
</style>
